.App {
	padding: 0 1em;
}

h1 {
	text-align: center;
}

section {
	border: 1px solid salmon;
	padding: 0 1em;
	margin-bottom: 1em;
}

textarea {
	width: 100%;
	min-height: 30rem;
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 0.8rem;
	line-height: 1.2;
}

details {
	margin-bottom: 1em;
}

p {
	margin: 0.5em 0;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	padding: 1em;
}

.grid-attempts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	padding: 1em;
}
